%%NAME_START%% COLUMN %%NAME_END%%
%%PROPERTIES_START%%
%%Column name%%: col_name
%%PROPERTIES%%: NOT NULL PRIMARY KEY : __VAR__TYPE__%%DBCOLUMN%%[%%Column name%%]:__ANY__
%%TYPE%%:INT:__CHOICE__%%__NULL__%%[INT, VARCHAR(%%SIZE%%), DOUBLE]
%%SIZE%%:50
%%PROPERTIES_END%%
%%STATEMENT_START%%
%%Column name%% %%TYPE%% %%PROPERTIES%%
%%STATEMENT_END%%

%%COMPONENT_TYPE_START%%DBCOLUMN%%COMPONENT_TYPE_END%%
%%ALLOWED_CHILDREN_START%%__NONE__%%ALLOWED_CHILDREN_END%%