%%NAME_START%% CREATE TABLE %%NAME_END%%
%%PROPERTIES_START%%
%%Table name%%: TABLE
%%PROPERTIES_END%%

%%STATEMENT_START%%
CREATE TABLE %%Table name%% IF NOT EXIST(
%%CHILDREN_TOKEN[, ]%%
);
%%STATEMENT_END%%

%%COMPONENT_TYPE_START%%TABLE_TYPE%%COMPONENT_TYPE_END%%
%%ALLOWED_CHILDREN_START%%DBCOLUMN%%ALLOWED_CHILDREN_END%%