%%NAME_START%% CREATE TABLE %%NAME_END%%
%%PROPERTIES_START%%
%%Table name%%: TABLE : __VAR__TYPE__%%TABLE_TYPE%%[%%Table name%%]
%%CONDITION%%: __VAR__TYPE__%%DBCOLUMN%%[%%Column name%%]:D%<{WHERE}<%
%%PROPERTIES_END%%

%%STATEMENT_START%%
DELETE FROM %%Table name%% %%CONDITION%%
%%STATEMENT_END%%

%%COMPONENT_TYPE_START%%TABLE_TYPE%%COMPONENT_TYPE_END%%
