%%INCLUDES_START%%
%%INCLUDES_END%%
%%NAME_START%% Call Method %%NAME_END%%
%%PROPERTIES_START%%
%%method name%%: method
%%parameters%%[]:i
%%PROPERTIES_END%%
%%STATEMENT_START%%
%%method name%%(%%parameters%%[])$$END_LINE_OP
%%STATEMENT_END%%

%%COMPONENT_TYPE_START%%CALL_METHOD%%COMPONENT_TYPE_END%%
%%ALLOWED_CHILDREN_START%%__NONE__%%ALLOWED_CHILDREN_END%%