%%NAME_START%% Comment %%NAME_END%%
%%PROPERTIES_START%%
%%comment%%: TEXT HERE:__VAR__TYPE__%%DECLARE_FIELD%%[%%variable name%%]
%%PROPERTIES_END%%
%%STATEMENT_START%%
$$COMMENT_START
%%comment%%
$$COMMENT_END
%%STATEMENT_END%%

%%COMPONENT_TYPE_START%%COMMENT%%COMPONENT_TYPE_END%%

%%ALLOWED_CHILDREN_START%%__NONE__%%ALLOWED_CHILDREN_END%%